/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}
body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Poppins', sans-serif;
cursor: pointer !important;
}
.btn,
button {
    cursor: pointer !important;
}



body img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
	color: #323648;
}
li {
    list-style-type: none;
}

p {
    margin: 0;
    font-size: 17px;
    line-height: 2em;
    letter-spacing: 1px;
    color: #707579;
	font-family: 'Source Sans Pro', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}


/*-- header --*/

header {
    position: absolute;
    z-index: 9;
    width: 100%;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
}


#logo a {
	float: left;
    font-size: .85em;
    display: initial;
    margin: 0;
    letter-spacing: 0px;
    color: #fff;
    font-weight: 600;
    padding: 0px 0;
    border: none;
}
#logo a span.fa {
    color: #da9d40;
    display: block;
    text-align: center;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	}

/* Styling the links */
nav a {
    color: #ddd;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 0;
	padding: 10px 13px;
    font-weight: 400;
    font-size: 16px;
}


nav ul li ul li:hover { background: #f8f9fa; }

/* Background color change on Hover */
nav a:hover { 
	color: #ddd;
}
.menu li.active  a{ 
	color: #fff;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 30px; 
    background: #fff;
    padding: 10px;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}
nav ul li span {
    color: #ddd;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600;
}
ul.menu li span.fa {
    color: #da9d40;
}
/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 992px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}
	.menu li.active a {
		color: #da9d40;
	}
	nav ul li span {
		color: #333;
	}
	nav {
		margin: 0;
	}
	nav a {
		color: #333;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		padding: 5px 15px;
		font-size: 20px;
		text-decoration: none;
		border: none;
		float: right;
		background-color: #da9d40;
		color: #fff;
		margin-bottom: 0;
		margin-top: 0em;
		    cursor: pointer;
	}
	.menu .toggle {
		float: none;
		text-align: center;
		margin: auto;
		width: 30%;
		padding: 5px;
		font-weight: normal;
		font-size: 15px;
		letter-spacing: 1px;
	}

	.toggle:hover {
		color:#333;
		background-color: #fff;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
		background: #fff;
		padding: 15px 0;
		width:100%;
		text-align: center;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		padding: 7px 0;
		}
	nav a{
		padding: 5px 0;
	}
	nav a:hover {
		color: #333;
	}
	.login-icon {
		text-align: center;
	}
	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: transparent;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
	nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #fff; 
	}
	nav ul ul li a {
		font-size: 15px;
	}
	ul.inner-ul{
		padding: 0!important;
	}
	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
		padding: 0;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
.user span.fa {
    font-size: 25px;
    color: #fff;
}
/*-- //header --*/

/* banner style */
.banner_w3lspvt {
    position: relative;
    z-index: 1;
}

.banner-top {
    background: url(../images/fondo.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top1 {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top2 {
    background: url(../images/banner3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top3 {
    background: url(../images/banner4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.w3layouts-banner-info {
    padding-top: 17em;
	text-align: center
}

.w3layouts-banner-info h3 {
    text-shadow: 3px 4px 6px rgba(45, 45, 45, 0.15);
    font-size: 3.3em;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 68px;
}
.w3layouts-banner-info h3 span {
    display: block;
}
.w3layouts-banner-info h3 span.clr {
    display: inline-block;
    color: #da9d40;
}
.w3layouts-banner-info h4 {
    color: #eee;
    margin: 1em 0;
    letter-spacing: 4px;
    text-transform: capitalize;
    font-weight: 200;
}

.w3layouts-banner-info i {
    vertical-align: middle;
}

.banner-top,
.banner-top1,
.banner-top2,
.banner-top3 {
    min-height: 750px;
}
.overlay {
    min-height: 750px;
    background: rgba(0, 0, 0, 0.6);
}
.overlay1 {
    min-height: 750px;
    background: rgba(0, 0, 0, 0.5);
}

.button-style {
    padding: 13px 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    display: inline-block;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
}

.button-style:hover {
    color: #fff;
}

/*-- //banner style --*/

/*-- about --*/
.about-grids h2 {
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 50px;
}
.form-style-agile input[type="text"], .form-style-agile input[type="email"], .form-style-agile input[type="password"], select {
    outline: none;
    font-size: 15px;
    border: none;
    color: #666;
    letter-spacing: 0.5px;
    padding: 13px 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
	text-transform: capitalize;
    background: #f6f6f6;
}
.about-grids .padding {
    background: #fff;
	border: 6px solid #f6f6f6;
    padding: 3em 2em;
	position: relative;
}
.padding img {
    width: 30%;
    margin: 0 auto 1em;
    display: block;
    position: absolute;
    top: -7%;
    left: 35%;
    background: #fff;
    padding: 0 15px;
}
button.book-btn {
    color: #da9d40;
    text-align: left;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
    border-radius: 0;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 1px;
    -webkit-transition: 1.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
h5.plane {
    margin: .5em 0;
    letter-spacing: 4px;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 30px;
}

/*-- //about --*/

/*-- about bottom --*/
.banner-about {
    padding: 3em 4em;
    background: #f6f6f6;
}
.banner-about h4 {
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
h5.bottom {
    margin: .5em 0;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 24px;
}
.bottom-left {
    background: url(../images/left.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.banner-about span.fa{
	font-size: 40px;
	color: #da9d40;
}
.bg-image-left {
    background: url(../images/4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 450px;
	margin: 5px;
}
.bg-image-right {
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 250px;
	margin: 5px;
}
.bg-image-bottom1 {
    background: url(../images/3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 190px;
	margin: 5px;
}
.bg-image-bottom2 {
    background: url(../images/banner4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 190px;
	margin: 5px;
}

.bg-image-left h4 {
    padding-top: 350px;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.4);
    min-height: 450px;
}
.bg-image-right h4 {
    padding-top: 170px;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.4);
    min-height: 250px;
}
.bg-image-bottom1 h4,.bg-image-bottom2 h4 {
    padding-top:120px;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.4);
    min-height: 190px;
}
/*-- //about bottom --*/


/*-- services --*/

.service-icon span.fa{
    font-size:40px;
    color: #da9d40;
}
.service-grid h4 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
}
/*-- //services --*/


/*-- facts --*/
.facts{
	background: #f6f6f6;
}
.facts span.fa {
    display: block;
    font-size: 40px;
    color: #da9d40;
	margin: 0;
    font-weight: normal;
}
.facts span {
    font-size: 30px;
    margin: .5em 0;
    display: block;
    font-weight: 600;
}
.facts h4 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #666;
    font-weight: 400;
}
.stats-grid {
    background: #fff;
    padding: 1.5em 2em;
    text-align: center;
    border-right: 6px solid #f6f6f6;
}
/*-- //facts --*/

/*-- team --*/


/*********************** Demo - 13 *******************/
.box13 {
    position: relative;
    transition: all .2s ease-out 0s;
    text-align: center;
}

.box13 .box-content,
.box13:after {
    position: absolute;
    left: 20px;
    right: 20px
}

.box13:after {
    content: "";
    display: block;
    background: #000;
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1, 1, 0, 100deg);
    transition: all .4s ease-in-out 0s
}

.box13:hover:after {
    opacity: .9;
    transform: rotate3d(0, 0, 0, 0deg)
}

.box13 img {
    width: 100%;
    height: auto
}

.box13 .box-content {
    top: 45%;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translate(10%, -30%);
    transform: translate(10%, -30%);
    transition: all .2s ease-out 0s
}

.box13:hover .box-content {
    opacity: 1;
    transform: translate(0, -50%);
    transition-delay: .2s
}

.box13 .title {
    display: block;
    font-size: 22px;
    color: #da9d40;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.box13 .post {
    display: block;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.box13 .social {
    padding: 0;
    margin: 0;
    list-style: none
}

.box13 .social li {
    display: inline-block
}

.box13 .social li a {
    display: block;
    width: 35px;
    height: 35px;
    background: #da9d40;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    line-height: 35px;
    margin-right: 5px;
    transition: all .4s ease-in-out 0s
}

.box14 .icon li,
.box14 .post {
    display: inline-block
}

@media only screen and (max-width:990px) {
    .box13 {
        margin-bottom: 30px
    }
}

/*-- //team  --*/


/*-- inner page banner --*/

.inner-banner {
    background: url(../images/unac.jpg) no-repeat center;
    background-size: cover;
    min-height: 250px;
}
.inner-banner-overlay {
    min-height: 250px;
    background: rgba(0, 0, 0, 0.6);
}
/*-- inner page banner --*/


/*-- page details --*/

.inner-banner h3 {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: 600;
}
li.breadcrumb-item a {
    color: #da9d40;
}
.breadcrumb-agile {
    background-color: #e9ecef;
    margin-bottom: -15px;
}
/*-- //page details --*/


/*-- inner page about secttion --*/

.inner-about h4 {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.inner-about span.fa {
    font-size: 40px;
    color: #da9d40;
}
/*-- //inner page about secttion --*/


/*-- discount section --*/
.overlay-all {
    background: rgba(0, 0, 0, 0.6);
}
.discount-grid {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
}
.discount-grid p {
    color: #bbb;
}
.discount-grid h2 {
    font-size: 3em;
    letter-spacing: 2px;
    color: #fff;
    line-height: 1.4em;
    font-weight: 200;
}
.discount-grid a {
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    padding: 14px 25px;
    border-radius: 0px;
    background: #da9d40;
    display: inline-block;
    margin-top: 20px;
}
.offer-grid {
    max-width: 750px;
    margin: auto;
}
/*-- //discount section --*/

/* testimonials */
.testi {
    background: #f6f6f6;
}

h6.b-w3ltxt {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h6.b-w3ltxt span {
    font-weight: normal;
    color: #777;
    text-transform: capitalize;
    font-size: 16px;
}
.testi-cgrid p {
	line-height: 1.8em;
}
.testi-cgrid p span.fa {
	color: #da9d40;
}

.testi-icon img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 5px solid #f6f6f6;
    background: #eee;
}

.testi-icon span.fa {
    font-size: 1.4em;
}
.testi-cgrid {
    background: #fff;
    padding: 2em 1em;
}
.border-right-grid{
	 border-right: 8px solid #f6f6f6;
}
.border-left-grid{
	 border-left: 8px solid #f6f6f6;
}
/* //testimonials */


/*-- pricing grids --*/
.pricing-grids .padding {
    background: #fff;
    border: 6px solid #f6f6f6;
    padding: 3em 2em;
    position: relative;
}
.border-dot {
    padding-bottom: 10px;
    border-bottom: 2px dotted #555;
}
.menu-item-name h6 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.menu-item-price h6 {
    font-size: 18px;
    color: #da9d40;
    letter-spacing: 1px;
}
.menu-item-description p {
    font-size: 15px;
}

/*-- //pricing grids --*/



/* gallery page */

.gal-img {
    padding: 5px;
    margin-bottom: 2em;
}
.gal-img img,.popup img {
    width: 100%;
}
.gal-img p {
    line-height: 28px;
    margin-top: 15px;
}
.popup p {
    line-height: 25px;
    margin-top: 15px;
}
.gal-img h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 15px;
}
/* popup */
.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 4px;
    max-width: 500px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em;
    z-index: 999;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

/* //popup */
/* //gallery page */


/*-- contact page --*/
.contact input[type="text"], .contact input[type="email"], .contact select, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px 20px;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #777;
    background: #f6f6f6;
    text-transform: capitalize;
    background-image: none;
    letter-spacing: 1px;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: none;
    border-bottom: 1px solid #ccc;
}
.contact textarea {
    height: 180px;
}
.contact button.btn {
    background: #da9d40;
    font-size: 15px;
    display: inline-block;
    color: #fff;
    border: 2px solid;
    padding: 13px 40px;
    letter-spacing: 2px;
    margin-top: 0px;
    cursor: pointer;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.contact label{
	text-transform: uppercase;
	letter-spacing: 1px;
}
.contact label span.fa {
	color: #da9d40;
}
.map iframe {
    border: none;
    outline: none;
    height: 350px;
    width: 100%;
}
/*-- //contact page --*/
/*-- features --*/
.events-info .sub-tittle {
    font-size: 0.7em;
}


.feature-grids h3,
.bottom-gd.fea h3 {
    color: #05c46b;
    letter-spacing: 1px;
    margin-top: 0em;
    font-size: 1.4em;
}

.feature-grids p {
    margin: 0;
    color: #666;
    line-height: 28px;
    letter-spacing: .5px;
}

.feature-grids span {
    font-size: 2em;
    vertical-align: middle;
    color: #2e3840;
}

.bottom-gd,
.bottom-gd2-active {
    background: #f8f9fa;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
}

.bottom-gd2-active {
    background: #ff3f34 !important;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}

.bottom-gd:hover.f1 i,
.bottom-gd2-active span {
    color: #fff;
}

.bottom-gd2-active p {
    color: #fff;
}

.bottom-gd2-active h3 {
    color: #fff;
}

.feature-grids h3,
.bottom-gd.fea h3 {
    font-size: 1.2em;
    color: #1e272e;
}


.serv_bottom {
    position: relative;
}

.fea span {
    color: #da9d40;
    font-size: 3em;
}

.fea {
    margin-bottom: 1.5em !important;
    padding: 3em 0.5em;
}

.bottom-gd.fea h3 {
    font-size: 1.2em;
}

.fea.active {
    background: #ff3f34;
}

.fea.active p,
.fea.active h3 {
    color: #fff;
}

.fetured-sec img {
    box-shadow: 14px 14px 50px -20px rgba(0, 0, 0, .1);
}

/* //fetures */
/* banner-image-two */
.banner-image-two{
background: url(../images/banner4.jpg) no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;}

.banner-image-two h2 ,.blog-left-wthree h4 a,.banner-image-two h5{
    font-size: 40px;
    color: #fff;
}
.view-buttn a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    font-weight: 400;
    border-radius: 0px;
    background-color: #da9d40;
    padding: 8px 15px;
    border: 2px solid #da9d40;
}
.view-buttn a:hover {
    opacity: .8;
}
	/*--// blog-- */
.testi-img-res img {
    border-radius: 50%;
}
/*-- move top --*/
a.move-top {
    width: 34px;
    height: 34px;
    background: url(../images/move-top.png) no-repeat;
    display: inline-block;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 0;
}
/*-- //move top --*/
/*-- stats --*/
.stats h3.heading {
    color: #f8f9fa;
}

.stats p {
    color: #ccc;
}

.stats-left h4 span {
    font-size: 50px;
    font-weight: 600;
    color: #da9d40;
}

.stats-left h4 {
    color: #fff;
}

.stats-right h4 {
    font-size: 2.4em;
    font-weight: 700;
    margin: 15px 0;
    color: #fff;
}


.stats-right span.fa {
    color: #212529;
    font-size: 20px;
    background: rgb(248, 249, 250);
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.stats {
    background: url(../images/banner4.jpg) center;
    background-size: cover;
    position: relative;
}

.brands a span.fa {
    font-size: 3em;
    color: #333;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

/*-- //stats --*/
h3.heading {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}
/* testimonials */

.testimonials {
    background: #f5f5f5;
}

.testimonials .bg-white.rounded {
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

p.sub-test {
    color: #262631;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    
}

p.sub-test span {
    color: #da9d40;
    font-size: 1.7em;
    margin-right: 0.3em;
}

.testi_grid h5 {
    color: #da9d40;
    letter-spacing: 1px;
    font-size: 1em;
}

.testi_grid p {
    font-size: 13px;
    line-height: 0.5em;
}

section.hand-crafted p {
    color: #6e7275;
}

/* //testimonials */
/*-- newsletter --*/
.subscribe-main{
	background: #f8f9fa;
}
.subscribe-main .heading-grid h4:after {
    content: none;
}
.newsletter-info input[type="email"] {
    padding: 10px 5px;
    font-size: 15px;
    color: #666;
    outline: none;
    letter-spacing: 2px;
    border: none;
    border-bottom: 1px solid #333;
    flex-basis: 70%;
    margin-right: 3%;
    font-style: italic;
    font-weight: 600;
    background: none;
}

.newsletter-info button[type="submit"] {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 13px 0;
    border: transparent;
    background: #da9d40;
    border: 2px solid #da9d40;
    flex-basis: 35%;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
/*-- //newsletter --*/
/*-- footer --*/
ul.bottom-links-w3_pvt {
    border-top: 1px solid #1a1d1d;
    border-bottom: 1px solid #1a1d1d;
    padding: 1.5em 0;
    margin: 3em 0;
}

ul.bottom-links-w3_pvt li {
    display: inline-block;
    margin: 0 2em;
}

ul.bottom-links-w3_pvt li:last-child {
    float: right;
}

ul.bottom-links-w3_pvt li a.active,
ul.bottom-links-w3_pvt li a:hover {
    color: #34c663;
}

ul.bottom-links-w3_pvt li a {
    font-size: 14px;
    color: #606161;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footv4-left h2 a {
    font-size: 0.9em;
    letter-spacing: 0.5px;
    color: #fff !important;
    display: block;
    position: relative;
    margin-bottom: 1em;
    font-weight: 800;
    text-transform: uppercase;
}

ul.d-flex.header-agile li span {
    margin-right: 1em;
    color: #0cc5b7;
}

.footv4-left ul.v4-rel li {
    display: block;
    list-style-type: none;
    margin-bottom: 10px;
}

ul.footer-link li {
    display: inline-block;
    line-height: 2;
    padding: 0 .5em;
}

ul.footer-link li a {
    color: #666;
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 1px;
}
footer {
    background: #000;
}
.copy-right p {
    color: #444;
}
.copy-right p a {
	color: #666;
}
.footer-left h3 {
    font-size: 2.8em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ccc;
}
ul.social-icons li {
    display: inline-block;
}
ul.social-icons li a span {
    color: #777;
    margin: 0 12px;
    font-size: 20px;
}
.footer-nav-wthree{
    text-align: right;
}
.copy-right {
    background: #000;
    padding: 1.5em 0;
    border-top: 1px solid #222;
}
/*-- //footer --*/
/*-- Responsive design --*/

@media(max-width:1366px) {
	.banner-top, .banner-top1, .banner-top2, .banner-top3,.overlay,.overlay1 {
		min-height: 750px;
	}
}
@media(max-width:1280px) {
	.banner-top, .banner-top1, .banner-top2, .banner-top3,.overlay,.overlay1 {
		min-height: 720px;
	}
	.banner-about {
		padding: 3em 3em;
	}
	h5.bottom {
		letter-spacing: 4px;
	}
	h5.plane {
		letter-spacing: 3px;
		font-size: 28px;
	}
	.about-grids h2 {
		font-size: 36px;
		letter-spacing: 1px;
		line-height: 40px;
	}
	h4.footer-top-text {
		font-size: 1.9em;
	}
}
@media(max-width:1080px) {
	.w3layouts-banner-info h3 {
		font-size: 3em;
	}
	.w3layouts-banner-info {
		padding-top: 14em;
	}
	.banner-top, .banner-top1, .banner-top2, .banner-top3,.overlay,.overlay1 {
		min-height: 650px;
	}
	h4.footer-top-text {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
	h5.plane {
		letter-spacing: 2px;
		font-size: 26px;
	}
	.about-grids h2 {
		font-size: 32px;
		letter-spacing: 1px;
		line-height: 27px;
	}
	.banner-about {
		padding: 3em 2em;
	}
	.banner-about h4 {
		font-size: 24px;
		letter-spacing: 1px;
		text-transform: capitalize;
	}
	h5.bottom {
		letter-spacing: 2px;
		font-size: 22px;
	}
	.service-grid h4 {
		font-size: 20px;
		letter-spacing: 1px;
	}
	p {
		font-size: 16px;
	}
	.bg-image-right h4,.bg-image-left h4,.bg-image-bottom1 h4, .bg-image-bottom2 h4 {
		letter-spacing: 3px;
		font-size: 21px;
	}
	h3.heading, h2.heading {
		font-size: 35px;
		letter-spacing: 1px;
	}
	.inner-about h4 {
		font-size: 22px;
		letter-spacing: 0px;
	}
	.footer-left h3 {
    font-size: 2.5em;
}
}
@media(max-width:1024px) {
	nav a {
		font-size: 15px;
	}
	#logo a {
		font-size: .65em;
	}
	.facts h4 {
		font-size: 16px;
	}
	.facts span {
		font-size: 25px;
	}
	.footer-logo a.navbar-brand {
		font-size: 27px;
	}
	.inner-banner,.inner-banner-overlay {
		min-height: 200px;
	}
	.discount-grid h2 {
		font-size: 2.8em;
	}
	.offer-grid {
		max-width: 700px;
	}
	h6.b-w3ltxt {
		font-size: 18px;
		letter-spacing: 1px;
	}
}
@media(max-width:992px) {
	.w3layouts-banner-info {
		padding-top: 12em;
	}
	h3.heading {
		font-size: 36px;
	}
	.banner-top, .banner-top1, .banner-top2, .banner-top3,.overlay,.overlay1 {
		min-height: 600px;
	}
	.w3layouts-banner-info h3 {
		font-size: 2.8em;
	}
	.bottom-left {
		min-height: 350px;
	}
	.banner-about {
		padding: 3em 4em;
	}
	.bg-image-right h4, .bg-image-left h4, .bg-image-bottom1 h4, .bg-image-bottom2 h4 {
		letter-spacing: 2px;
		font-size: 19px;
	}
	.address p {
		max-width: 100%;
		font-size: 15px;
	}
	.footer-icon span.fa {
		font-size: 50px;
	}
	.stats-grid {
		padding: 1.5em 1em;
	}
	.footer-top a.serv_link {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.map iframe {
		height: 300px;
	}
}

@media(max-width:800px) {
	.w3layouts-banner-info h3 {
		font-size: 2.6em;
		line-height: 60px;
	}
	.w3layouts-banner-info h4 {
		letter-spacing: 2px;
	}
	.button-style {
		padding: 11px 30px;
	}
	.discount-grid h2 {
		font-size: 2.5em;
	}
	.inner-banner,.inner-banner-overlay {
		min-height: 180px;
	}
	.map iframe {
		height: 260px;
	}
}
@media(max-width:736px) {
	.w3layouts-banner-info h3 {
		font-size: 2.5em;
		line-height: 55px;
		letter-spacing: 2px;
	}
	.w3layouts-banner-info h4 {
		letter-spacing: 2px;
		font-size: 22px;
	}
	.banner-top, .banner-top1, .banner-top2, .banner-top3, .overlay, .overlay1 {
		min-height: 560px;
	}
	h5.plane {
		letter-spacing: 1px;
		font-size: 24px;
	}
	.about-grids h2 {
		font-size: 30px;
	}
	.bg-image-left h4 {
		padding-top: 170px;
		min-height: 250px;
	}
	.bg-image-left {
		min-height: 250px;
	}
	.footer-icon span.fa {
		font-size: 40px;
	}
	.address, .footer-icon,.phone {
		text-align: center;
	}
	.discount-grid h2 {
		font-size: 2em;
	}
	.footer-left h3 {
    font-size: 2em;
    text-align: center;
}
.footer-nav-wthree {
    text-align: center;
}
.banner-image-two h2, .blog-left-wthree h4 a, .banner-image-two h5 {
    font-size: 32px;
}
}
@media(max-width:600px) {
	.w3layouts-banner-info h3 {
		font-size: 2.3em;
		line-height: 50px;
		letter-spacing: 1px;
	}
	.w3layouts-banner-info {
		padding-top: 11em;
	}
	.w3layouts-banner-info h4 {
		letter-spacing: 1px;
		font-size: 20px;
	}
	.banner-top, .banner-top1, .banner-top2, .banner-top3, .overlay, .overlay1 {
		min-height: 500px;
	}
	.about-grids h2 {
		font-size: 26px;
	}
	h5.plane {
		letter-spacing: 1px;
		font-size: 21px;
	}
	.banner-about {
		padding: 3em 2em;
	}
	.copyright p {
		font-size: 15px;
	}
	.inner-banner,.inner-banner-overlay {
		min-height: 150px;
	}
	.contact label {
		font-size: 15px;
	}
	.contact input[type="text"], .contact input[type="email"], .contact select, .contact textarea {
		padding: 13px 20px;
		font-size: 14px;
	}
}
@media(max-width:568px) {
	.stats-grid {
		padding: 1.5em 1em;
		border-right: none;
		border-bottom: 6px solid #f6f6f6;
	}
	.button-style {
		font-size: 14px;
	}
	.inner-heading {
		margin: 0;
	}
	.fact-grid-main {
		margin: 0;
	}
	.team-grid {
		margin: 0 4em;
	}
	.box13 {
		margin-bottom: 0px;
	}
	h3.heading {
		font-size: 32px;
	}
	.testi-icon img {
		width: 25%;
	}
	.news-grids.gal {
		width: 90%;
		margin: auto;
	}
}
@media(max-width:480px) {
	.w3layouts-banner-info h3 {
		font-size: 2em;
		line-height: 45px;
	}
	.w3layouts-banner-info h4 {
		letter-spacing: 1px;
		font-size: 18px;
		margin: .5em 0 0;
	}
	.banner-top, .banner-top1, .banner-top2, .banner-top3, .overlay, .overlay1 {
		min-height: 450px;
	}
	#logo a {
		font-size: .6em;
	}
	.social ul li a {
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	.social ul li span.fa {
		font-size: 12px;
		line-height: 35px;
	}
	h4.footer-top-text {
		font-size: 1.5em;
	}
	.inner-banner,.inner-banner-overlay {
		min-height: 130px;
	}
	.discount-grid h2 {
		font-size: 1.8em;
	}
	.testi-icon img {
		width: 30%;
	}
	.popup {
		margin: 8em 1em;
		padding: 3em 1em 2em;
	}
	.contact button.btn {
		font-size: 14px;
		padding: 11px 35px;
		letter-spacing: 1px;
	}
}
@media(max-width:415px) {
	.copyright {
		padding: 0 15px;
	}
	.footer-icon span.fa {
		font-size: 30px;
	}
	.footer-logo a.navbar-brand {
		font-size: 24px;
	}
	h4.footer-top-text {
		font-size: 1.4em;
		letter-spacing: 0px;
	}
	.footer-top a.serv_link {
		font-size: 14px;
		letter-spacing: 1px;
		padding: 12px 20px;
	}
	.team-grid {
		margin: 0 1em;
	}
	h3.heading, h2.heading {
		font-size: 30px;
		letter-spacing: 1px;
	}
	h5.bottom {
		letter-spacing: 1px;
		font-size: 20px;
	}
	.about-grids h2 {
		font-size: 22px;
	}
	.csslider>.arrows {
		width: 99% !important;
	}
	.w3layouts-banner-info h3 {
		font-size: 1.8em;
	}
	.w3layouts-banner-info h4 {
		font-size: 17px;
	}
	.banner-about span.fa {
		font-size: 30px;
	}
	.banner-about {
		padding: 2em 1em;
	}
	.inner-about span.fa {
		font-size: 30px;
	}
	.inner-about h4 {
		font-size: 22px;
		line-height: 30px;
	}
	.discount-grid a {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.discount-grid h2 {
		font-size: 1.6em;
	}	
	.testi-icon img {
		width: 35%;
	}
	li.breadcrumb-item a,.breadcrumb-item.active {
		font-size: 14px;
	}
	.heading-grid.mb-0 h4 {
    font-size: 19px;
    line-height: 1.6em;
}
}
@media(max-width:384px) {
	.team-grid {
		margin: 0 0em;
	}
	.w3layouts-banner-info h3 {
		font-size: 1.6em;
		line-height: 40px;
		letter-spacing: 0px;
	}
	.w3layouts-banner-info {
		padding-top: 10em;
	}
	.about-grids h2 {
		font-size: 20px;
	}
	.inner-about h4 {
		font-size: 20px;
		line-height: 28px;
	}
	.testi-icon img {
		width: 40%;
	}
	.copyright p {
		font-size: 14px;
	}
	.address p, .footer-icon p, .phone p, .phone p a {
		font-size: 14px;
	}
	.menu-item-name h6 {
		font-size: 15px;
	}
	.menu-item-price h6 {
		font-size: 17px;
	}
	.contact label {
		font-size: 14px;
	}
	.contact input[type="text"], .contact input[type="email"], .contact select, .contact textarea {
		padding: 12px 20px;
		font-size: 14px;
	}
	.footer-left h3 {
    font-size: 1.7em;
}
}
@media(max-width:375px) {
	
}
@media(max-width:320px) {
	.w3layouts-banner-info h3 {
    font-size: 1.4em;
    line-height: 34px;
}
.w3layouts-banner-info h4 {
    font-size: 14px;
}
.footer-left h3 {
    font-size: 1.5em;
}
ul.footer-link li a {
    font-size: 15px;
}
h3.heading, h2.heading {
    font-size: 28px;
}
.banner-image-two h2, .blog-left-wthree h4 a, .banner-image-two h5 {
    font-size: 28px;
}
.newsletter-info input[type="email"] {
    margin-right: -7%;
}
.banner-top, .banner-top1, .banner-top2, .banner-top3, .overlay, .overlay1 {
    min-height: 420px;
}
}

/*-- //Responsive design --*/