﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_Layout_about.cshtml";
}
<div class="header">
    <a href="./Dashboard" class="logo">GTTI</a>
    <div class="header-right">
        <a href="./Login">Salir</a>
    </div>
</div>
<body>
    <div class="wrapper">
        <section class="banner-bottom" id="about">
            <div class="container">
                <div class="inner-sec">
                    <div class="row middle-grids">
                        <div class="col-lg-4 advantage-grid-info1">
                            <div class="advantage_left1 text-center">
                                <img src="~/FrontDesign/aboutUs/images/group7.png" class="img-fluid" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-8 advantage-grid-info">
                            <div class="advantage_left">
                                <h1 class="heading text-capitalize mb-sm-5 mb-4">Hola. Somos <span> Wen, Toshi & Alexis.</span></h1>
                                <p class="mt-4">Egresados de la <span>Egresados de la </span>que junto al Dr. Hilario Aradiel hemos creado este sistema para ayudar a la comunidad estudiantil a iniciar la Tesis.</p>
                                <a href="./Dashboard" class="banner-button btn mt-5 scroll">Volver a GTTI</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>