﻿@model IEnumerable<proyectosig.reporteSistema>

<h1 style="
    margin-top: 4%;
    text-align: center;
">
    REPORTE DEL SISTEMA
</h1>

<div style="
    font-family: arial;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
">
    <table class="table">
        <tr>
            <th style="vertical-align:middle;color: white;outline: thin solid;">
                @Html.DisplayName("TITULO")
            </th>
            <th style="vertical-align:middle;color: white;outline: thin solid;">
                @Html.DisplayName("OBJETIVO ESPECÍFICO")
            </th>
            <th style="vertical-align:middle;color: white;outline: thin solid;">
                @Html.DisplayName("OBJETIVO SECUNDARIO")
            </th>
            <th style="vertical-align:middle;color: white;outline: thin solid;">
                @Html.DisplayName("INTENCIÓN ANALÍTICA")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="outline: thin solid;color: white;">
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td style="outline: thin solid;color: white;">
                    @Html.DisplayFor(modelItem => item.oEspecifico)
                </td>
                <td style="outline: thin solid;color: white;">
                    @Html.DisplayFor(modelItem => item.oSecundario)
                </td>
                <td style="outline: thin solid;color: white;">
                    @Html.DisplayFor(modelItem => item.hipotesisDeduccion)
                </td>
            </tr>
        }

    </table>
</div>
<div class="col-lg-8 advantage-grid-info" style="
    text-align: center;
    font-family: Arial;
    margin-bottom: 3%;
">
    <div class="advantage_left">
        <a href="./Login" class="banner-button btn mt-5 scroll">Salir</a>
    </div>
</div>