﻿
<div class="agile-login">
    <h1>LOGIN ADMINISTRADOR</h1>
    <div class="wrapper">
        <h2>Iniciar sesión</h2>
        <div class="w3ls-form">
            <form action="AdminPage" method="post">
                <div class="p">
                    <label>Usuario</label>
                    <div class="col-md-10">
                        <input type="text" name="Username" placeholder="Ingresa su usuario" required />
                    </div>
                </div>
                <div class="p">
                    <label>Contraseña</label>
                    <div class="col-md-10">
                        <input type="password" name="Password" placeholder="Ingresa su contraseña" required />
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-10" style="text-align: center;">
                    <input type="submit" value="Ingresar" />
                </div>
            </form>
        </div>
    </div>
    <br>
</div>