﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/_Layout_dashboard.cshtml";
}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>GCT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="~/FrontDesign/dashboardTemplate/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/FrontDesign/dashboardTemplate/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="~/FrontDesign/dashboardTemplate/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->

    <link href="~/FrontDesign/dashboardTemplate/css/css_slider.css" type="text/css" rel="stylesheet" media="all">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>

    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="py-md-4 py-3 d-lg-flex">
                <div id="logo">
                    <h1> <a href="/Account/">GCT</a></h1>
                </div>
                <ul class="menu mt-lg-3 ml-auto">
                    <li class=""><a href="./AboutUs">Sobre Nosotros</a></li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <section class="banner_w3lspvt" id="home">
        <div class="csslider infinity" id="slider1">
            <input type="radio" name="slides" checked="checked" id="slides_1" />
            <ul>
                <li>
                    <div class="banner-top">
                        <div class="overlay">
                            <div class="container">
                                <div class="w3layouts-banner-info">
                                    <h3 class="text-wh"> Bienvenido a GCT</h3>
                                    <a href="#subscribe" class="button-style mt-4">¿Qué es?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!--we are ready-->
    <!-- newsletter -->
    <section class="subscribe-main py-5" id="subscribe">
        <br />
        <div class="container py-md-4">
            <h3 class="heading text-center mb-5">¿Qué es GCT?</h3>
            <div align="center">
                <div class="heading-grid mb-0">
                    <h4>
                        Es un sistema que ayudará a generar el título y objetivos para trabajos de investigacion según la metodología planteada por José Supó en su libro
                        "Como empezar una tesis". Para ello se identificaran el Proposito, Linea de investigacion y Población; Las definiciones iran mostrandose 
                        segun corresponda, por ahora les mostramos la estructura a seguir.
                    </h4>
                </div>
            </div>
        </div>
        <div class="container py-md-4" align="center">
            <h4>Estructura:</h4>
            <br />
            <img src="~/FrontDesign/dashboardTemplate/images/flujito.jpg">
        </div>
        <div align="center">
            <div class="col-lg-6 newsletter-info mt-4">
                <form action="GTTIFilters" method="post" class="d-flex">
                    <br />
                    <button type="submit" class="btn">Comencemos</button>
                </form>
            </div>
        </div>
        <br />
        <br />
    </section>
    <!-- //newsletter-->
    <!-- footer -->
    <footer class="footerv4-w3ls py-sm-5 py-4">
        <div class="footerv4-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-left">
                        <h3>GCT</h3>
                    </div>
                    <!-- footer nav links -->
                    <div class="col-md-8 footer-nav-wthree my-md-3 mt-3">
                        <ul class="social-icons list-unstyled">
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer nav links -->

                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right text-center">
        <p>
            © 2019 Commute. All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>
    </div>
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center"></a>
    <!-- //move top icon -->

</body>
</html>