﻿@model proyectosig.Models.FilterInv
@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/_Layout_filter.cshtml";
}

<!----start-body------->
<div class="wrapper-demo">
    <div class="wrapper">
        <form>
            <h2>Selecciona tu linea de investigacion</h2>
            @Html.DropDownList("lineaInv", new SelectList(Model.linInv, "Text", "Value"), new { @class = "wrapper-dropdown-2" })
            <input type="button" value="Continuar" />
        </form>
    </div>
</div>

<!-----start-copyright---->
<div class="copy-right">
    <p>&#169 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a> </p>
</div>
<!-----end-copyright---->
<!----end-body------->
