﻿@model proyectosig.Models.CascadingClass
@{
    Layout = "~/Views/_Layout_filter.cshtml";
    @Html.AntiForgeryToken()
}

<!DOCTYPE html>
<body style="font-family: Arial;">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <div class="header">
        <a href="./Dashboard" class="logo">GCT</a>
        <div class="header-right">
            <a href="./AboutUs">Sobre Nosotros</a>
            <a href="./Login">Salir</a>
        </div>
    </div>


        <h1 style="margin-top: 5%;"><span id="negrita">Paso 1.</span> Línea de investigación, Propósito y Nivel de investigación</h1>

        <div id="wrapper">
            <p id="glosario">Definiciones:</p>
            <div id="info1">
                <p><span id="titulito">Linea de investigación:</span> Es un tema muy específico, dentro de un campo de conocimiento.</p>
                <p><span id="titulito">Nivel Investigación:</span> El nivel que se elija englobará toda la investigación, se divide en 6.</p>
            </div>
            <div align="center">
                <img src="~/FrontDesign/firstFilterTemplate/images/niveles3.jpg" />
            </div>
            <div id="info1">
                <p><span id="titulito">Propósito:</span> ¿Que se desea conocer de la 'Linea de Investigación'?</p>
            </div>
            <div align="center">
                <img src="~/FrontDesign/firstFilterTemplate/images/propoImg2.jpg" />
            </div>

            <p id="glosario">Elegir:</p>
            <font face="arial">
                <table class="wrapper-demo">
                    <tr>
                        <th colspan="3" bgcolor="#3676e8" style="vertical-align:middle;outline: thin solid;color: white;height: 40px;">Linea de investigacion</th>

                    </tr>
                    <tr style="height: 30px;">
                        <th id="one" style="vertical-align:middle">Escuela</> </th>
                        <th id="two" style="vertical-align:middle">Carrera</th>
                        <th id="three" style="vertical-align:middle">Área</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(m => m.IDLinea_Investigacion, ViewBag.Nombre_Linea_Inv as SelectList, "-Seleccionar-", new { @class = "wrapper-dropdown-2" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.IDcarrera, new SelectList(""), "-Seleccionar-", new { @class = "wrapper-dropdown-2" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.IDarea, new SelectList(""), "-Seleccionar-", new { @class = "wrapper-dropdown-2" })
                        </td>

                    </tr>
                </table>
            </font>

            <table class="tproposito">
                <tbody>
                    <tr>
                        <th bgcolor="#3676e8" style="vertical-align:middle;color: white;outline: thin solid;height: 40px;">Nivel</th>
                        <th bgcolor="#3676e8" style="vertical-align:middle;color: white;outline: thin solid;height: 40px;">Propósito</th>
                    </tr>
                    <tr class="fila"></tr>
                    <tr>
                        <th>@Html.DropDownListFor(m => m.IDnivel, ViewBag.nameNivel as SelectList, "-Seleccionar-", new { @class = "proposito" })</th>
                        <th>
                            @Html.DropDownListFor(m => m.IDproposito, new SelectList(""), "-Seleccionar-", new { @class = "proposito" })
                        </th>
                    </tr>
                </tbody>
            </table>

            <div align="center">
                <input id="boton2" type="submit" value="Agregar Data" />
            </div>
        </div>

        <h1><span id="negrita">Paso 2.</span> La Población</h1>

        <div id="wrapper">
            <p id="glosario">Definiciones:</p>
            <div id="info1">
                <p>
                    <span id="titulito">Población:</span>
                    Hacia donde está dirigida la investigacón, depende de las necesidades de la línea de investigación.
                </p>
            </div>
            <div align="center">
                <img id="imagen2" src="~/FrontDesign/firstFilterTemplate/images/poblacionTabla.jpg" />
            </div>

            <p id="glosario">Ingresar:</p>

            <div align="left" style="margin-bottom: 3%;">
                <p id="pPoblacion">Población</p>
                <input id="poblacionField" type="text" name="Poblacion" placeholder="Ingresa tu población" />
            </div>

            <div align="center">
                <input id="boton" type="submit" value="Generar Enunciado" />
            </div>
        </div>

        <h1><span id="negrita">Paso 3.</span> Objetivo Específico y Objetivos Operacionales</h1>

        <div id="wrapper" style="padding: 1% 0px 30px;">
            <p id="glosario">Definiciones:</p>
            <div id="info1">
                <p>
                    <span id="titulito">Objetivo Específico:</span>
                    Se crea a partir del título, anteponiéndo un verbo en infinitivo; el verbo debe pertenecer al nivel elegido.
                </p>
                <p>
                    <span id="titulito">Objetivos Secundarios:</span>
                    Corresponden a los pasos intermedios que a veces se requieren para completar el objetivo específico.
                </p>
            </div>

            <p id="glosario">Elegir:</p>
            <table class="wrapper-demo" style="height: 130px;">
                <tbody>
                    <tr>
                        <th bgcolor="#3676e8" style="vertical-align:middle;color: white;outline: thin solid;height: 40px;">Objetivo Específico</th>
                    </tr>
                    <tr class="fila"></tr>
                    <tr>
                        <th>@Html.DropDownListFor(m => m.ID_Vbo, new SelectList(""), "-Seleccionar-", new { @class = "verboOb2" })</th>
                    </tr>
                </tbody>
            </table>

            <div id="divEsp" style="display:none">
                <h1 style="margin: auto;">Objetivo Específico: </h1>
                <p style="margin-bottom: 5%;" id="oEspecifico"></p>
            </div>

            <div>
                <table class="wrapper-demo" style="height: 130px;">
                    <tbody>
                        <tr>
                            <th bgcolor="#3676e8" style="vertical-align:middle;color: white;outline: thin solid;height: 40px;">Objetivos Secundarios</th>
                        </tr>
                        <tr class="fila"></tr>
                        <tr>
                            <th>@Html.DropDownList("allVerbos", ViewBag.nameVerbo as SelectList, "-Seleccionar-", new { @class = "verboOb" })</th>
                        </tr>
                        <tr>
                            <th><button id="botonSec" onclick="myFunctionbtn()">Agregar O.S</button></th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="listali" style="margin: auto; margin-bottom: 2%; border-width: 1px; width: 650px; border: 1px solid white;">
                <p>Objetivos Secundarios:</p>
                <ul id="myList" style="padding: 19px;"></ul>
                <p id="oSecundario" style="display:none"></p>
            </div>


        </div>

        <h1><span id="negrita">Paso 4.</span> Intención Analítica</h1>

        <div id="wrapper" style="padding-bottom: 2%;margin-bottom: 4%;">
            <p id="glosario">Definiciones:</p>
            <div id="info1">
                <p>
                    <span id="titulito">Intención Analítica:</span>
                    Puede corresponder a la prueba de hipótesis o a la estimación puntual.
                </p>
                <p style="margin-left: 5%;">
                    <span id="titulito">Prueba de Hipótesis:</span>
                    Es un estudio comparativo, el mismo que pretende llegar a la conclusión de, si dos grupos son
                    iguales o diferentes (Con hipótesis).
                </p>
                <p style="margin-left: 5%;">
                    <span id="titulito">Estimación Puntual:</span>
                    Es un estudio de prevalencia, el mismo que pretende estimar un parámetro (Sin hipótesis)
                </p>
                <p>
                    Para saber si tu estudio lleva o no una hipótesis, intenta calificar de verdadero o falso al enunciado de tu estudio;
                    si el resultado de esta operación mental, es una oración que tiene sentido, tu estudio lleva hipótesis
                </p>
                <p>
                    En otros casos, cuando al agregarle los calificativos de verdadero o falso al enunciado de tu estudio,
                    te resulte una oración incongruente, entonces tu estudio no lleva hipótesis.
                </p>
            </div>

            <p id="glosario">Elegir:</p>
            <div style="margin-bottom: 2%;">
                <input id="submit" type="submit" value="Mostrar Objetivos">
                <p>¿El enunciado puede ser verdadero o falso?</p>
                <label style="color: white;">Si <input name="opcionHip" type="radio" id="myCheck" onclick="myNewFunction()"></label>
                <label style="color: white;">No <input name="opcionHip" type="radio" id="myCheck2" onclick="my2Function()"></label>
            </div>

            <p id="text" style="display: none;margin-bottom: 2%;margin-right: 15px;color: wheat;font-weight: 900;">Prueba de hipotesis</p>
            <p id="text2" style="display: none;margin-bottom: 2%;margin-right: 15px;color: wheat;font-weight: 900;">Estimacion Puntual</p>

            <p id="tituloEspecifico" style="display: none;color: deepskyblue;margin-right: 15px;">Objetivo Específico:</p>
            <p id="objHipo" style="display:none" ;></p>

            <p id="tituloSecundario" style="display: none;color: deepskyblue;margin-right: 15px;">Objetivos Secundarios:</p>
            <div id="div1" style="display:none">

            </div>

            <div id="hipo1" style="margin: auto;display:none; margin-bottom: 2%; border-width: 1px; width: 570px; border: 1px solid white;margin-top: 3%;">
                <p style="text-align: left;margin-bottom: 16px;margin-top: 5px;">Deducción: Es probable que... <input id="descriptext" type="text" name="Poblacion" placeholder="" style="width: 270px;" /></p>
            </div>


            <div id="hipo2" style="margin: auto;display:none;text-align: left;margin-bottom: 2%;border-width: 1px;width: 600px;border: 1px solid white;margin-top: 3%;">
                <p style="margin-bottom: 16px;margin-top: 5px;">Deducción: @Html.DropDownListFor(m => m.IDVbo, new SelectList(""), "-Seleccionar-", new { @class = "verboOb2" }) + Objetivo Específico</p>
                <p style="margin-bottom: 16px;margin-top: 5px;">Fundamento: <input id="poblacionField" type="text" name="Poblacion" placeholder="" style="width: 352px;" /></p>
            </div>

            <div id="hipo2a" style="margin: auto;display:none;text-align: left;margin-bottom: 2%;border-width: 1px;width: 1000px;border: 1px solid white;margin-top: 3%;">
                <p style="margin-bottom: 16px;margin-top: 5px;">
                    Deducción: <input id="explicativotext" type="text" name="Poblacion" placeholder="" style="width: 352px;" /> Causa
                    <input id="explicativotext2" type="text" name="Poblacion" placeholder="" style="width: 352px;" />
                </p>
                <p style="margin-bottom: 16px;margin-top: 5px;">Fundamento: <input id="poblacionField" type="text" name="Poblacion" placeholder="" style="width: 352px;" /></p>
            </div>

            <div id="hipo2b" style="margin: auto;display:none;text-align: left;margin-bottom: 2%;border-width: 1px;width: 1000px;border: 1px solid white;margin-top: 3%;">
                <p style="margin-bottom: 16px;margin-top: 5px;">
                    Deducción: <input id="relacionaltext" type="text" name="Poblacion" placeholder="" style="width: 200px;" /> Es
                    @Html.DropDownList("Simbolos", ViewBag.simbolos as SelectList, "-Seleccionar-", new { @class = "verboOb" }) que
                    <input id="relacionaltext2" type="text" name="Poblacion" placeholder="" style="width: 200px;" />
                </p>
            </div>

            <div id="hipo3" style="margin: auto;display:none;text-align: left;margin-bottom: 2%;border-width: 1px;width: 600px;border: 1px solid white;margin-top: 3%;margin-top: 3%;">
                <p style="margin-bottom: 16px;margin-top: 5px;">¿Cuál será el estimador? <input id="estimaciontext" type="text" name="Poblacion" placeholder="" style="width: 308px;" /></p>
                <p style="text-align: center;color: deepskyblue;"> Ejm. según Nivel: </p>
                <p style="text-align: center;"> Nivel Descriptivo: Prevalencia</p>
                <p style="text-align: center;"> Nivel Relacional: Riesgo relativo</p>
                <p style="text-align: center;"> Nivel Explicativo: Coeficientes</p>
                <p style="text-align: center;"> Nivel Predictivo: Probabilidad de ocurrencia</p>
                <p style="text-align: center;"> Nivel Aplicativo: Grado de éxito</p>
            </div>

            <p style="display:none;" id="hipotesisFinal" ></p>

            <input id="generar" type="submit" value="Mostrar hipotesis">
            
            <input id="reseteo" type="reset" value="RESETEAR">

        </div>
    
        <form action="/LoginAccount/GTTIFilters" method="post">
            @Html.TextAreaFor(model => model.titulote, new { @class = "form-control", Style = "display:none" })
            @Html.TextAreaFor(model => model.secu, new { @class = "form-control", Style = "display:none" })
            @Html.TextAreaFor(model => model.espec, new { @class = "form-control", Style = "display:none" })
            @Html.TextAreaFor(model => model.hipote, new { @class = "form-control", Style = "display:none" })

            <div style="
    text-align: center;
"><input id="pruebitaboton" type="submit" value="TERMINAR"></div>
            
        </form>


    <!-- Modal del titulo -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="nametitulo">El título es:</h2>
           
            <p id="titulo"></p>
        </div>

    </div>

    <!-- Modal de error -->
    <div id="my3Modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="nametitulo">Debe escoger un verbo para el Objetivo</h2>
            <p id="objetivoEspec"></p>
        </div>

    </div>

    <!-- Modal para agregar data -->
    <div id="my2Modal" class="modal">

        <!-- Modal content -->
        <form action="/LoginAccount/GTTIFilters" method="post">
            <div id="modal-content">
                @Html.ValidationMessage("validation")
                <span class="close">&times;</span>
                <h3>Agregar información:</h3>

                <div class="p">
                    @Html.LabelFor(model => model.nNivel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nNivel, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="p">
                    @Html.LabelFor(model => model.nEscuela, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nEscuela, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="p">
                    @Html.LabelFor(model => model.nCarrera, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nCarrera, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="p">
                    @Html.LabelFor(model => model.nArea, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nArea, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="p">
                    @Html.LabelFor(model => model.nProposito, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nProposito, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="p">
                    @Html.LabelFor(model => model.nVerbo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nVerbo, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="text-align: center;">
                        <input id="boton" type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            document.getElementById("generar").addEventListener("click", function () {
                var nameNivel = document.getElementById("IDnivel").value;
                var txtDescrip = document.getElementById("descriptext").value;
                var hipo = document.getElementById("hipotesisFinal");
                var txtRelac = document.getElementById("relacionaltext").value;
                var txtRelac2 = document.getElementById("relacionaltext2").value;
                var txtExplic = document.getElementById("explicativotext").value;
                var txtExplic2 = document.getElementById("explicativotext2").value;
                var txtEstimacionPuntual = document.getElementById("estimaciontext").value;

                var checkBox = document.getElementById("myCheck");
                var checkBox2 = document.getElementById("myCheck2");

                if (checkBox.checked == true) {

                    switch (nameNivel) {
                        case '6':
                            hipo.style.display = "block";
                            document.getElementById("hipotesisFinal").innerHTML = txtDescrip;
                            document.getElementById("hipote").innerHTML = document.getElementById("hipotesisFinal").innerHTML;
                            break;
                        case '2':
                            hipo.style.display = "block";
                            var y = document.getElementById("Simbolos");
                            var i = y.selectedIndex;
                            var simbolo = y.options[i].text;

                            document.getElementById("hipotesisFinal").innerHTML = txtRelac + " es " + simbolo + " que " + txtRelac2
                            document.getElementById("hipote").innerHTML = document.getElementById("hipotesisFinal").innerHTML;
                            break;
                        case '3':
                            hipo.style.display = "block";
                            document.getElementById("hipotesisFinal").innerHTML = txtExplic + " causa " + txtExplic2;
                            document.getElementById("hipote").innerHTML = document.getElementById("hipotesisFinal").innerHTML;
                            break;
                        case '5':
                            hipo.style.display = "block";
                            var y = document.getElementById("IDVbo");
                            var i = y.selectedIndex;
                            var verbo = y.options[i].text;
                            document.getElementById("hipotesisFinal").innerHTML = verbo;
                            document.getElementById("hipote").innerHTML = document.getElementById("hipotesisFinal").innerHTML;
                            break;
                        case '4':
                            hipo.style.display = "block";
                            var y = document.getElementById("IDVbo");
                            var i = y.selectedIndex;
                            var verbo = y.options[i].text;
                            document.getElementById("hipotesisFinal").innerHTML = verbo;
                            document.getElementById("hipote").innerHTML = document.getElementById("hipotesisFinal").innerHTML;
                            break;
                        default:
                        // code block
                    }
                }

                else if (checkBox2.checked == true) {
                    hipo.style.display = "block";
                    document.getElementById("hipotesisFinal").innerHTML = txtEstimacionPuntual;
                    document.getElementById("hipote").innerHTML = document.getElementById("hipotesisFinal").innerHTML;
                }

            })
        })



        $(document).ready(function () {

            var phrases = [];
            document.getElementById("submit").addEventListener("click", function () {

                var objet = document.getElementById("objHipo");
                var titObj = document.getElementById("tituloEspecifico");

                titObj.style.display = "block";
                objet.style.display = "block";
                document.getElementById("objHipo").innerHTML = document.getElementById("oEspecifico").innerText;
                var div = document.getElementById("div1");
                div.style.display = "block";
                var tituloespecifico = document.getElementById("titulo").innerText;
                document.getElementById("espec").innerText = tituloespecifico;
                var tituloSecu = document.getElementById("tituloSecundario");
                tituloSecu.style.display = "block";
                $('#listali').each(function () {
                    // this is inner scope, in reference to the .phrase element
                    var phrase = '';
                    $(this).find('li').each(function () {

                        var para = document.createElement("p");
                        var current = $(this);
                        var node = document.createTextNode(current.text());
                        para.appendChild(node);
                        var element = document.getElementById("div1");
                        element.appendChild(para);
                    });
                });
            })

            document.getElementById("IDnivel").addEventListener("change", function () {
                var text = document.getElementById("text");
                var text2 = document.getElementById("text2");
                var hipo1 = document.getElementById("hipo1");
                var hipo2 = document.getElementById("hipo2");
                var hipo3 = document.getElementById("hipo3");
                var myList = document.getElementById('myList');
                myList.innerHTML = '';
                phrases.length = 0;
                var divesp = document.getElementById("divEsp");
                divesp.style.display = "none";
                var div = document.getElementById("div1");
                div.style.display = "none";

                var objet = document.getElementById("objHipo");
                var titObj = document.getElementById("tituloEspecifico");
                titObj.style.display = "none";
                objet.style.display = "none";
                var tituloSecu = document.getElementById("tituloSecundario");
                tituloSecu.style.display = "none";

                var objet = document.getElementById("objHipo");

                objet.style.display = "none";

                text.style.display = "none";
                text2.style.display = "none";
                hipo1.style.display = "none";
                hipo2.style.display = "none";
                hipo3.style.display = "none";
                $('#myList').empty();
            })

            document.getElementById("reseteo").addEventListener("click", function () {
                var text = document.getElementById("text");
                var text2 = document.getElementById("text2");
                var hipo1 = document.getElementById("hipo1");
                var hipo2 = document.getElementById("hipo2");
                var hipo3 = document.getElementById("hipo3");
                var myList = document.getElementById('myList');

                var hipo2a = document.getElementById("hipo2a");
                var hipo2b = document.getElementById("hipo2b");

                hipo2a.style.display = "none";
                hipo2b.style.display = "none";

                myList.innerHTML = '';
                phrases.length = 0;
                var divesp = document.getElementById("divEsp");
                divesp.style.display = "none";
                var div = document.getElementById("div1");
                div.style.display = "none";

                var objet = document.getElementById("objHipo");
                var titObj = document.getElementById("tituloEspecifico");
                titObj.style.display = "none";
                objet.style.display = "none";
                var tituloSecu = document.getElementById("tituloSecundario");
                tituloSecu.style.display = "none";

                var objet = document.getElementById("objHipo");

                objet.style.display = "none";

                text.style.display = "none";
                text2.style.display = "none";
                hipo1.style.display = "none";
                hipo2.style.display = "none";
                hipo3.style.display = "none";
                $('#myList').empty();

            })

            document.getElementById("myCheck").addEventListener("click", function () {
                var nameNivel = document.getElementById("IDnivel").value;
                var hipo1 = document.getElementById("hipo1");
                var hipo2 = document.getElementById("hipo2");
                var hipo3 = document.getElementById("hipo3");
                var hipo2a = document.getElementById("hipo2a");
                var hipo2b = document.getElementById("hipo2b");

                switch (nameNivel) {
                    case '6':
                        hipo1.style.display = "block";
                        hipo2.style.display = "none";
                        hipo3.style.display = "none";
                        hipo2a.style.display = "none";
                        hipo2b.style.display = "none";
                        break;
                    case '2':
                        hipo2b.style.display = "block";
                        hipo1.style.display = "none";
                        hipo3.style.display = "none";
                        hipo2a.style.display = "none";
                        hipo2.style.display = "none";
                        break;
                    case '3':
                        hipo2a.style.display = "block";
                        hipo1.style.display = "none";
                        hipo3.style.display = "none";
                        hipo2.style.display = "none";
                        hipo2b.style.display = "none";
                        break;
                    case '5':
                        hipo2.style.display = "block";
                        hipo1.style.display = "none";
                        hipo3.style.display = "none";
                        hipo2a.style.display = "none";
                        hipo2b.style.display = "none";
                        break;
                    case '4':
                        hipo2.style.display = "block";
                        hipo1.style.display = "none";
                        hipo3.style.display = "none";
                        hipo2a.style.display = "none";
                        hipo2b.style.display = "none";
                        break;
                    default:
                    // code block
                }
            })

            document.getElementById("myCheck2").addEventListener("click", function () {
                var hipo1 = document.getElementById("hipo1");
                var hipo2 = document.getElementById("hipo2");
                var hipo3 = document.getElementById("hipo3");
                var hipo2a = document.getElementById("hipo2a");
                var hipo2b = document.getElementById("hipo2b");

                hipo2a.style.display = "none";
                hipo2b.style.display = "none";
                hipo2.style.display = "none";
                hipo1.style.display = "none";
                hipo3.style.display = "block";
            })

        });

        function myNewFunction() {
            // Get the checkbox
            var checkBox = document.getElementById("myCheck");
            // Get the output text
            var text = document.getElementById("text");
            var text2 = document.getElementById("text2");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                text.style.display = "block";
                text2.style.display = "none";
            } else {
                text.style.display = "none";
            }
        }

        function my2Function() {
            // Get the checkbox
            var checkBox = document.getElementById("myCheck2");
            // Get the output text
            var text = document.getElementById("text2");
            var text2 = document.getElementById("text");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                text.style.display = "block";
                text2.style.display = "none";
            } else {
                text.style.display = "none";
            }
        }


        $(document).ready(function () {
            $("#ID_Vbo").change(function () {
                var divEsp = document.getElementById("divEsp");
                var wrong = document.getElementById("my3Modal");
                var span = document.getElementsByClassName("close")[1];
                var botonEspecifico = document.getElementById("boton3");
                if (document.getElementsByClassName("verboOb2")[0].value != 0) {
                    var y = document.getElementById("ID_Vbo");
                    divEsp.style.display = "block";
                    var i = y.selectedIndex;
                    var verbo = y.options[i].text;

                    var titulo = document.getElementById("titulo").innerText;
                    document.getElementById("oEspecifico").innerHTML = verbo + " " + titulo;
                }
                else {
                    divEsp.style.display = "none";
                    wrong.style.display = "block";
                }
            })
        })
        var wrong = document.getElementById("my3Modal");
        var span = document.getElementsByClassName("close")[1];

        span.onclick = function () {
            wrong.style.display = "none";
        }

        $(document).ready(function () {
            $("#IDnivel").change(function () {
                var nivelID = $(this).val();
                debugger
                $.ajax({
                    type: "post",
                    url: "/LoginAccount/GetVerboList?IDnivel=" + nivelID,
                    contentType: "html",
                    success: function (response) {
                        debugger
                        $("#ID_Vbo").empty();
                        $("#ID_Vbo").append(response);
                    }
                })
            })
        })

        $(document).ready(function () {
            $("#IDnivel").change(function () {
                var nivelID = $(this).val();
                debugger
                $.ajax({
                    type: "post",
                    url: "/LoginAccount/GetVerboListado?IDnivel=" + nivelID,
                    contentType: "html",
                    success: function (response) {
                        debugger
                        $("#IDVbo").empty();
                        $("#IDVbo").append(response);
                    }
                })
            })
        })

        $(document).ready(function () {
            $("#IDnivel").change(function () {
                var nivelID = $(this).val();
                debugger
                $.ajax({
                    type: "post",
                    url: "/LoginAccount/GetPropositoList?IDnivel=" + nivelID,
                    contentType: "html",
                    success: function (response) {
                        debugger
                        $("#IDproposito").empty();
                        $("#IDproposito").append(response);
                    }
                })
            })
        })

        $(document).ready(function () {
            $("#IDLinea_Investigacion").change(function () {
                var lineaID = $(this).val();
                debugger
                $.ajax({
                    type: "post",
                    url: "/LoginAccount/GetCarreraList?IDLinea_Investigacion=" + lineaID,
                    contentType: "html",
                    success: function (response) {
                        debugger
                        $("#IDcarrera").empty();
                        $("#IDcarrera").append(response);
                    }
                })
            })
            $("#IDcarrera").change(function () {
                var carreraID = $(this).val();
                debugger
                $.ajax({
                    type: "post",
                    url: "/LoginAccount/GetAreaList?IDcarrera=" + carreraID,
                    contentType: "html",
                    success: function (response) {
                        debugger
                        $("#IDarea").empty();
                        $("#IDarea").append(response);
                    }
                })
            })
        })

        function myFunctionbtn() {
            var y = document.getElementById("allVerbos");
            var i = y.selectedIndex;
            var verbo = y.options[i].text;
            var node = document.createElement("LI");
            var titulo = document.getElementById("titulo").innerText;
            document.getElementById("oSecundario").innerHTML = verbo + " " + titulo;
            var textnode = document.createTextNode(document.getElementById("oSecundario").innerHTML);
            node.appendChild(textnode);
            document.getElementById("myList").appendChild(node);
            var textoObjeto = document.getElementById("oSecundario").innerText;
            document.getElementById("secu").innerText = textoObjeto
        }
        
        span.onclick = function () {
            wrong.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal3) {
                wrong.style.display = "none";
            }
        }

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("boton");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        //var verbo;    
        //var area;
        // When the user clicks the button, open the modal
        btn.onclick = function () {

            if (document.getElementById("IDarea").value != 0) {
                modal.style.display = "block";
                var y = document.getElementById("IDproposito");
                var i = y.selectedIndex;
                var proposito = y.options[i].text;
                
                var poblacion = document.getElementById("poblacionField").value;

                //Área de investigación
                var x = document.getElementById("IDarea");
                var i = x.selectedIndex;
                var area = x.options[i].text;

                //alert(verbo + area);

                document.getElementById("titulo").innerHTML = proposito + " de " + area + " en " + poblacion;

                var titulo = document.getElementById("titulo").innerText;
                document.getElementById("titulote").innerText = titulo;




            }
            else {
                alert("Selecciona los filtros");
            }
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // Get the modal
        var modal2 = document.getElementById("my2Modal");

        // Get the button that opens the modal
        var btn2 = document.getElementById("boton2");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[2];

        // When the user clicks the button, open the modal
        btn2.onclick = function () {
            //alert("Selecciona los filtros");
            modal2.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal2.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
        }
                       
    </script>

</body>