﻿@model proyectosig.Models.LoginAccount
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_Layout_login.cshtml";
}

<div class="agile-login">
    <h1>Generador de contenido para tesis basado en la metodologia de José Supo</h1>
    <div class="wrapper">
        <h2>Completa los datos</h2>
        <div class="w3ls-form">
            <form action="/LoginAccount/Login" method="post">

                <div class="p">
                    @Html.LabelFor(model => model.nNombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nNombre, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="p">
                    @Html.LabelFor(model => model.nCorreo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nCorreo, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="p">
                    @Html.LabelFor(model => model.nCelular, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nCelular, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                    <div class="col-md-offset-2 col-md-10" style="text-align: center;">
                        <input id="boton" type="submit" value="Ingresar" class="btn btn-default" />
                    </div>
                </form>
                <form action="/LoginAccount/Admin" method="post">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="text-align: center;">
                            <input id="admin" type="submit" value="Administrador" class="btn btn-default" />
                        </div>
                    </div>
                </form>
        </div>
    </div>
    <br>
</div>
