/**-
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
/* reset */
html,div,span,applet,object,iframe,h1,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */

#generar {
    border-radius: 15px;
    margin: 20px auto;
    padding: 9px 18px;
    font-size: 15px;
    background-color: #686564d1;
    color: white;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    width: 230px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

#reseteo, #submit, #pruebitaboton {
    border-radius: 15px;
    margin: 20px auto;
    padding: 9px 18px;
    font-size: 15px;
    background-color: #686564d1;
    color: white;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    width: 230px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

#botonSec {
    border-radius: 15px;
    margin: 20px auto;
    padding: 9px 18px;
    font-size: 15px;
    background-color: #686564d1;
    color: white;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    width: 230px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

li{
    color: white;
}

.verboOb2 {
    position: relative;
    padding: 13px 20px 15px 15px;
    background: #fff;
    cursor: pointer;
    outline: none;
    width: 300px;
    color: #5f5f5f;
    font-size: 15px;
    margin-bottom: 2%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
}

.verboOb {
    position: relative;
    padding: 13px 20px 15px 15px;
    background: #fff;
    cursor: pointer;
    outline: none;
    width: 300px;
    color: #5f5f5f;
    font-size: 15px;
    margin-bottom: 2%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
}

#poblacionField {
    outline: 0;
    padding: 12px 15px;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    background-color: rgba(242, 247, 248, 0.91);
    color: black;
    width: 505px;
    letter-spacing: 1px;
}

#pPoblacion {
    color: white;
    margin-left: 18%;
    float: left;
    margin-right: 1%;
    margin-top: 3%;
}

#objetivoEspec {
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: black;
}

#glosario {
    color: wheat;
    text-align: left;
    margin-left: 4%;
    font-size: 20px;
    font-weight: bolder;
}

.fila{
    height:10px;
}

.tproposito {
    margin: auto;
    width: 600px;
    height: 130px;
}

.proposito {
    width: 300px;
    position: relative;
    padding: 13px 20px 15px 15px;
    background: #fff;
    cursor: pointer;
    outline: none;
    color: #5f5f5f;
    font-size: 15px;
    -webkit-border-radius: 5px;
    font-weight: 600;
}

#titulito {
    font-weight: 900;
    color: wheat;
}

h1 {
    margin-left: 5%;
    margin-top: 2%;
    color: white;
    margin-bottom: 2%;
    font-size: 20px;
}

#negrita {
    font-weight: 900;
    font-size: x-large;
}

#info1 {
    text-align: left;
    margin: 35px;
    margin-left: 85px;
}

p {
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 15px;
    color: white;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 8%;
}

.header {
    overflow: hidden;
    background-color: #f1f1f100;
    font-family: Arial, Helvetica, sans-serif;
}

    .header a {
        float: left;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        line-height: 25px;
        font-weight: bolder;
        border-radius: 4px;
    }



input[type="text"] {
    outline: 0;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(87, 102, 103, 0.14);
    color: black;
    width: 90%;
    letter-spacing: 1px;
}
    .header a.logo {
        font-size: 25px;
        font-weight: bold;
        color: white;
    }

.header a:hover {
        background-color: #ddd;
        color: black;
        }

.header a.active {
        background-color: dodgerblue;
        color: white;
        }

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    }

    #IDarea {
        width: 500px;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 25px;
        width: 1000px;
        height: 150px;
        margin-top: 8%;
    }

#nametitulo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    color: #d73a87;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 3%;
}

#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 500px;
    height: 500px;
    font-family: 'Raleway', sans-serif;
}

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }


#titulo {
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: black;
}

img {
    max-width: 100%;
    width: 700px;
}

#imagen2 {
    max-width: 100%;
    width: 450px;
}

#wrapper {
    width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    border-radius: 10px;
    background-color: rgba(6, 5, 5, 0.33);
    box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
}

#boton, #boton2, #boton3, #boton4 {
    border-radius: 15px;
    margin: 20px auto;
    padding: 9px 18px;
    font-size: 15px;
    background-color: #686564d1;
    color: white;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    width: 230px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

    #boton:hover, #boton2:hover, #boton3:hover, #boton4:hover {
        color: #ffffffad;
        color: black;
        background-color: rgba(255, 255, 255, 0.8);
    }

    body {
        /*background-repeat: no-repeat;*/
        background-size: cover;
        background-image: url('../images/minimalism-geometry-simple-background-simple-1596469-wallhere.com.jpg');
    }

#one, #two, #three {
    color: white;
    font-size: 15px;
}

    input[type="button"] {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .wrapper {
        margin: auto;
        /* border-radius: 20px; */
    text-align: center;
    padding: 3% 0px;
    /*background-color: rgba(255, 255, 255, 0.31);*/
    background-color: rgba(6, 5, 5, 0.33);
    webkit-box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
}


h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 3%;
    }

#obj1, #obj2, #obj3, #obj4, #obj5 {
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 2%;
    font: 170% arial;
    color: #FFFFFF;
    text-align: center;
    }

    /****-----start-wrapper-demo----****/
    .wrapper-demo {
    width: 300px;
    height: 160px;
    margin: 0 auto;
    margin-top: 3%;
}
    /****-----start-wrapper-dropdown-2----****/
.wrapper-dropdown-2 {
    position: relative;
    padding: 13px 20px 15px 15px;
    background: #fff;
    cursor: pointer;
    height: 50px;
    outline: none;
    font-size: 20px;
    color: #5f5f5f;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
}

#nameNiveles {
    position: relative;
    padding: 5px;
    background: #fff;
    cursor: pointer;
    outline: none;
    color: #5f5f5f;
    font-size: 1.1em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    height: 45px;
    width: 50%;
}

    .dropdown:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 20px;
        top: -3%;
        margin-top: -6px;
        border-width: 0px 12px 12px 12px;
        border-style: solid;
        border-color: #FFF rgba(0, 0, 0, 0);
    }

    .wrapper-dropdown-2 .dropdown {
        /* Size & position */
        position: absolute;
        top: 136%;
        left: 0px;
        right: 0px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        /* Styles */
        background: #fff;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        list-style: none;
        z-index: 1;
        /* Hiding */
        opacity: 0;
        pointer-events: none;
    }

        .wrapper-dropdown-2 .dropdown li:last-child {
            border-bottom: none;
        }

        .wrapper-dropdown-2 .dropdown li {
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

            .wrapper-dropdown-2 .dropdown li a {
                display: block;
                text-decoration: none;
                color: #5f5f5f;
                padding: 15px;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
                text-transform: capitalize;
                font-size: 0.99em;
                font-weight: 600;
            }

    .dropdown li a:hover {
        color: #FFF;
    }

        .dropdown li a:hover .icon {
            background-position: 0px 0px;
        }
    /* Hover state */
    .wrapper-dropdown-2 .dropdown li:hover {
        background: #f9ada0;
    }

    .wrapper-dropdown-2 .dropdown li:nth-child(1) {
        border-top-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        -o-border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        -o-border-top-right-radius: 5px;
    }

    .wrapper-dropdown-2 .dropdown li:last-child {
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        -o-border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        -o-border-bottom-right-radius: 5px;
    }

    .wrapper-dropdown-2 .dropdown li:nth-child(2), .wrapper-dropdown-2 .dropdown li:nth-child(3), .wrapper-dropdown-2 .dropdown li:nth-child(4) {
        border-radius: none;
    }
    /* Active state */
    .wrapper-dropdown-2.active .dropdown {
        opacity: 1;
        pointer-events: auto;
    }
    /* No CSS3 support */
    .no-opacity .wrapper-dropdown-2 .dropdown,
    .no-pointerevents .wrapper-dropdown-2 .dropdown {
        display: none;
        opacity: 1; /* If opacity support but no pointer-events support */
        pointer-events: auto; /* If pointer-events support but no pointer-events support */
    }

    .no-opacity .wrapper-dropdown-2.active .dropdown,
    .no-pointerevents .wrapper-dropdown-2.active .dropdown {
        display: block;
    }

    .wrapper-dropdown-2.active .dropdown {
        opacity: 1;
        pointer-events: auto;
    }
    /*****/
    .wrapper-dropdown-2 span {
        float: right;
        vertical-align: middle;
    }

    .icon {
        background: url(../images/spriteimg.png);
        width: 24px;
        height: 25px;
        display: inline-block;
    }

    .icon {
        background: url(../images/spriteimg.png) no-repeat 0px 0px;
    }

    .dropdown li a:hover span.icon {
        background: url(../images/spriteimg.png) no-repeat 0px -25px;
    }

    .stat {
        background: url(../images/spriteimg.png) no-repeat -26px 0px;
    }

    .dropdown li a:hover span.stat {
        background: url(../images/spriteimg.png) no-repeat -26px -24px;
    }

    .msg {
        background: url(../images/spriteimg.png) no-repeat -51px 0px;
    }

    .dropdown li a:hover span.msg {
        background: url(../images/spriteimg.png) no-repeat -51px -24px;
    }

    .signout {
        background: url(../images/spriteimg.png) no-repeat -76px 0px;
    }

    .dropdown li a:hover span.signout {
        background: url(../images/spriteimg.png) no-repeat -76px -24px;
    }
    /****-----end-wrapper-dropdown-2----****/
    /****-----start-copyright----****/
    .copy-right {
        text-align: center;
        padding: 1em 0;
    }

        .copy-right p {
            color: #FFF;
            font-size: 0.8em;
            line-height: 1.8em;
        }

            .copy-right p a {
                color: #5F5F5F;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }

                .copy-right p a:hover {
                    color: #fff;
                }
    /****-----end-copyright----****/
    /****----*media Queries----****/
    @media only screen and (max-width: 480px) and (min-width:320px) {
        .wrapper-demo {
            width: 350px;
        }
    }

    @media only screen and (max-width: 320px) and (min-width:240px) {
        .wrapper-demo {
            width: 290px;
        }

        .wrapper-dropdown-2 {
            font-size: 1em;
        }
    }
    /****------end-media Queries-----****/