﻿<!DOCTYPE html>

<html>
<head>
    <title>GCT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/FrontDesign/firstFilterTemplate/css/style.css" rel="stylesheet" />
    <link href="~/FrontDesign/firstFilterTemplate/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/FrontDesign/firstFilterTemplate/js/jquery.js" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
    

        @RenderBody()

</body>
</html>
