﻿<!DOCTYPE html>

<html>
<head>
    <!-- Meta tags -->
    <title>GCT</title>
    <!-- stylesheets -->
    <link href="~/FrontDesign/aboutUs/css/style.css" rel="stylesheet" />
    <link href="~/FrontDesign/aboutUs/css/bootstrap.css" rel="stylesheet" />
    <link href="~/FrontDesign/aboutUs/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
        @RenderBody()
</body>
</html>
