﻿@model proyectosig.verbo1

<option value="0">-Seleccionar-</option>

@if (ViewBag.verboListado != null)
{
    foreach (var item in ViewBag.verboListado)
    {
        <option value="@item.Value">@item.Text</option>
    }
}