﻿@model proyectosig.carrera

<option value="0">-Seleccionar-</option>

@if (ViewBag.carreraList != null)
{
    foreach(var item in ViewBag.carreraList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}