﻿@model proyectosig.verbo

<option value="0">-Seleccionar-</option>

@if (ViewBag.verboList != null)
{
    foreach (var item in ViewBag.verboList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}