﻿@model proyectosig.proposito

<option value="0">-Seleccionar-</option>

@if (ViewBag.propositoList != null)
{
    foreach (var item in ViewBag.propositoList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}