﻿@model proyectosig.areaInvestigacion

<option value="0">-Seleccionar-</option>

@if (ViewBag.areaList != null)
{
    foreach (var item in ViewBag.areaList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}